// div {
//     display: inline;
//     padding: 10px;
//     font-family: 'Montserrat', sans-serif;
// }

.title {
    //font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu Mono', monospace;
    color: #E85A4F;
    justify-content: center;
    display: flex;
}

.content {
    display: block;
    padding: 10px;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 20px;
    overflow-wrap: break-word;
    inline-size: 50px;
    width: 700px;
    margin: 0 !important;
}

.taskInputText {
    display: flex;
    margin: auto;
    justify-content: center;
}

.savebutton {
    display: block;
    padding-right: 50px;
    background-color: #E98074;
    color: black;
    font-family: 'Ubuntu Mono', monospace;
    border: none;
    padding: 5px;
    margin: auto;
    justify-content: center;
}

.savebutton:hover {
    background-color: #eb6d5f;
}

.task {
    display: flex;
    padding: 10px;
    font-family: 'Ubuntu Mono', monospace;
    width: 800px;
    flex: none;
    background-color: #E98074;
    margin: auto;
    justify-content: center;
}

.spacing {
    padding: 10px;
}

.deletebutton {
    float: right;
    padding-right: 50px;
    background-color: #8E8D8A;
    color: white;
    border: none;
    padding: 5px;
    font-family: 'Ubuntu Mono', monospace;
}

.deletebutton:hover {
    background-color: #7c7c79;
}

.newline {
    display: block;
}