<h1 class="title">To-Do List</h1>

<form>
    <input 
        type="text"
        name="taskInput"
        placeholder="Enter new note"
        class="taskInputText"
        [(ngModel)]="taskInput"
        (keyup.enter)="addTask()"
    />
</form>
<button type = "Submit" (click)="addTask()">Save Note</button>

<div class = "task" *ngFor="let task of tasks; let i = index;">
    <input class = "check" type="checkbox" (click)="completeTask(i)">
    <h1 class = "content">{{task.text}}</h1>
    <button type = "Delete" (click)="deleteTask(i)">Delete</button>
</div>
